.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.profile-card {
  background-color: #222831;
  padding: 50px 40px;
  border-radius: 12px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.profile-card h1 {
  font-size: 36px;
  font-weight: 700;
  color: #DDDDDD;
  text-align: center;
  margin: 0 0 10px 0;
}

.info-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: #DDDDDD;
}
.info-box {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #30475E;
  color: #a0a0a0;
  box-sizing: border-box;
}

.divider {
  border: 0;
  height: 1px;
  background: #30475E;
  margin: 10px 0;
  width: 100%;
}