.submit-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  min-height: 100vh;
}

.submit-page-wrapper h1 {
  font-size: 36px;
  font-weight: 700;
  color: #222831;
  margin-bottom: 30px;
}

.check-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.message-box {
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 500px;
}

.error-box {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.error-box h2 {
  margin: 0;
  font-size: 20px;
}