<div class="forgot-password-form">
  
  @if(!otpGenerated && !success){
    <h1>Forgot Password</h1>
    <form (ngSubmit)="generateOtp()" #forgotPasswordForm="ngForm">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input 
          id="email" 
          type="email" 
          placeholder="Enter your registered email" 
          [(ngModel)]="email" 
          pattern="^[^@]+@[^@]+\.[^@]+$"
          name="email" 
          required 
        />
      </div>
      <button class="primary-btn" [disabled]="forgotPasswordForm.invalid">Send OTP</button>
      <button type="button" class="secondary-btn" (click)="goToLogin()">Back to Login</button>
    </form>
  }

  @if(otpGenerated && !validOtp){
    <h1>Verify OTP</h1>
    <p>We have sent a code to {{email}}</p>
    <form (ngSubmit)="verifyOtp()" #otpForm="ngForm">
      <div class="form-group">
        <label for="otp">One Time Password</label>
        <input 
          id="otp" 
          type="text" 
          placeholder="Enter 6-digit OTP" 
          [(ngModel)]="otp" 
          name="otp" 
          required 
        />
      </div>
      <button class="primary-btn" type="submit" [disabled]="otpForm.invalid">Verify Code</button>
      <button type="button" class="secondary-btn" (click)="goToLogin()">Cancel</button>
    </form>
    <p>OTP expires in {{ otpExpiresIn / 60 | number:'1.0-0' }}:
    {{ otpExpiresIn % 60 | number:'2.0' }}</p>

  }

  @if(validOtp && !success){
    <h1>Reset Password</h1>
    <form #resetPasswordForm="ngForm" (ngSubmit)="forgetPassword()">
      <div class="form-group">
        <label for="password">New Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter new password"
          [(ngModel)]="request.password"
          required
          pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
          #password="ngModel"
        />
        @if(password.invalid && password.touched){
          <p class="error-text">
            Min 8 chars, at least 1 letter and 1 number.
          </p>
        }
      </div>
      <button class="primary-btn" type="submit" [disabled]="resetPasswordForm.invalid">Update Password</button>
    </form>
  }

  @if(error){
    <div class="message-box error-box">
      {{errorMessage}}
    </div>
  }

  @if(success){
    <h1>Success</h1>
    <div class="message-box success-box">
      Password reset successfully!
    </div>
    <button class="secondary-btn" (click)="goToLogin()">Go to Login</button>
  }

</div>