<div>
    @if(!otpGenerated){
        <form (ngSubmit)="generateOtp()" #forgotPasswordForm="ngForm">
            <input type="email" placeholder="email" [(ngModel)]="email" name="email" required />
            <button [disabled]="forgotPasswordForm.invalid">Send OTP</button>
        </form>
    }
    @if(otpGenerated){
        <form (ngSubmit)="verifyOtp()">
            <p>OTP has been sent to {{email}}</p>
            <input type="text" placeholder="Enter OTP" [(ngModel)]="otp" name="otp" required />
            <button type="submit" >Submit</button>
        </form>
    }
    @if(validOtp){
        <form #resetPasswordForm="ngForm" (ngSubmit)="forgetPassword()">
            <label for="password">Password</label>
            <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="request.password"
            required
            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
            #password="ngModel"
            />
            @if(password.invalid && password.touched){
            <p class="error-text">
                Password must be at least 8 characters long and contain at least one letter and one number.
            </p>
            }
            <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
        </form>
    }
    @if(error){
        {{errorMessage}}
    }

    @if(success!=''){
        success
        <button (click)="goToLogin()"></button>
    }
</div>