<div class="policy-card">
  <h2>{{ policy.plan.name }}</h2>

  <p class="status {{ policy.status }}">
    Status: {{ policy.status }}
  </p>

  @if (policy.status === 'ACTIVE') {
    <div class="details">
      <p><span>Start Date</span><strong>{{ policy.startDate }}</strong></p>
      <p><span>End Date</span><strong>{{ policy.endDate }}</strong></p>
    </div>
  }

  <div class="details">
    <p><span>Premium</span><strong>₹{{ policy.plan.premiumAmount }}</strong></p>
    <p><span>Coverage Left</span><strong>₹{{ policy.remainingCoverage }}</strong></p>
  </div>

  <div class="actions">
    @if (policy.status === 'ACTIVE') {
      <button class="renew" (click)="renew()" [disabled]="successMessage">Renew</button>
      <button class="claim" (click)="claim()" [disabled]="successMessage">Claim</button>
      <button class="cancel" (click)="cancel()" [disabled]="successMessage">Cancel</button>
    }
    @else {
      <button class="renew" (click)="renew()">Enroll again</button>
    }
  </div>

  @if (successMessage) {
    <div class="success">{{ successMessage }}</div>
  }

  @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
  }

  @if (showConfirmation) {
    <app-conformation-component 
      (confirm)="confirmCancellation()" 
      (cancel)="closePopup()">
    </app-conformation-component>
  }

  <app-hospital-list></app-hospital-list>
</div>