<div class="claim-card">
  <h1>Submit Claim</h1>

  <form>
    
    <div class="form-group">
      <label>Hospital *</label>
      <select [(ngModel)]="hospitalId" name="hospital" required>
        <option [ngValue]="null" disabled selected>Select a hospital</option>
        @for (hospital of hospitals; track hospital.id) {
          <option [ngValue]="hospital.hospital.id">
            {{ hospital.hospital.hospitalName }} - {{ hospital.hospital.cityName }}
          </option>
        }
      </select>
    </div>

    <div class="form-group">
      <label>Requested Amount (₹) *</label>
      <input 
        type="number" 
        [(ngModel)]="requestedAmount" 
        name="amount" 
        placeholder="Enter amount" 
        required 
      />
    </div>

    <div class="form-group">
      <label>Supporting Document *</label>
      
      <div class="upload-row">
        <input 
          type="file" 
          (change)="onFileChange($event)" 
          required 
          class="file-input"
        />
        <button 
          type="button" 
          class="secondary-btn upload-btn" 
          (click)="upload()" 
          [disabled]="!selectedFile">
          Upload
        </button>
      </div>
      
      @if (uploadedDocument) {
        <div class="upload-success">
          ✓ Document uploaded successfully
        </div>
      }
    </div>

    <button 
      type="button" 
      class="primary-btn"
      (click)="submitClaim()"
      [disabled]="!uploadedDocument || !hospitalId || !requestedAmount"
    >
      Submit Claim
    </button>

    @if (errorMessage) {
      <div class="message-box error-box">{{ errorMessage }}</div>
    }

    @if (successMessage) {
      <div class="message-box success-box">{{ successMessage }}</div>
    }

  </form>
</div>