<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Plan"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           (keydown.enter)="onEnter()">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

<div class="plans-container">
  @for (plan of plans; track plan.id) {
    <div class="plan-card">
      <h2>{{ plan.name }}</h2>

      <p class="description">
        {{ plan.description }}
      </p>

      <div class="details">
        <div>
          <span>Premium</span>
          <strong>₹{{ plan.premiumAmount }}</strong>
        </div>

        <div>
          <span>Coverage</span>
          <strong>₹{{ plan.coverageAmount }}</strong>
        </div>

        <div>
          <span>Duration</span>
          <strong>{{ plan.duration }} months</strong>
        </div>
      </div>

     @if (role!=null && !['ADMIN', 'CLAIMS_OFFICER'].includes(role)){
        <button
        [disabled]="plan.status !== 'ACTIVE'"
        class="enroll-btn"
        (click)="routeUser(plan.id)"
      >
        View more
      </button>
      }
    </div>
  }
</div>
