.registration-form {
  background-color: #222831;
  padding: 40px 30px;
  border-radius: 12px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.registration-form h1 {
  font-size: 32px;
  color: #DDDDDD;
  text-align: center;
  margin-bottom: 20px;
}

.registration-form label {
  font-size: 14px;
  font-weight: 500;
  color: #DDDDDD;
  margin-bottom: 4px;
}

.registration-form input,
.registration-form select {
  width: 90%;
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: none;
  background-color: #30475E;
  color: #DDDDDD;
}

.registration-form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


.registration-form button {
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #ce3d3d;
  color: white;
  transition: all 0.2s ease;
  width: 100%;
}

.registration-form .secondary-btn {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  font-weight: 600; 
  border-radius: 8px;
  border: 2px solid #ffffff;
  background-color: #ffffff; 
  color: #222831; 
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 10px; 
}

.registration-form .secondary-btn:hover {
  background-color: #ce3d3d;
  border-color: #ce3d3d;
  color: #ffffff;
}

.message-box {
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
}

.success-box {
  background-color: #d4edda;
  color: #155724;
}

.error-box {
  background-color: #f8d7da;
  color: #721c24;
}

.error-text {
  font-size: 0.85rem;
  color: #f8d7da;
  margin-top: 4px;
}
