<div class="change-password-section">
  
  @if(!requestChangePassword){
    <button class="secondary-btn" (click)="requestChangePassword = true">Change Password</button>
  }

  @if(requestChangePassword){
    <h3>Change Password</h3>
    
    @if (passwordChangeSuccess) {
      <div class="success-message">
        Password changed successfully.
      </div>
    }

    <form #passwordForm="ngForm" (ngSubmit)="changePassword()">
      
      <div class="form-group">
        <input 
          type="password" 
          name="oldPassword" 
          required 
          placeholder="Old Password" 
          [(ngModel)]="request.oldPassword" 
        />
      </div>

      <div class="form-group">
        <input 
          type="password" 
          name="newPassword" 
          required 
          placeholder="New Password" 
          [(ngModel)]="request.newPassword"
          pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" 
          #newPass="ngModel" 
        />
        @if(newPass.invalid && newPass.dirty){
          <div class="error-text">
            Min 8 chars, at least 1 letter and 1 number.
          </div>
        }
      </div>

      <div class="form-group">
        <input 
          type="password" 
          name="newPasswordRepeat" 
          required 
          placeholder="Repeat New Password"
          [(ngModel)]="newPasswordRepeat" 
        />
        @if(request.newPassword !== newPasswordRepeat && newPasswordRepeat){
             <div class="error-text">Passwords do not match.</div>
        }
      </div>

      @if(error){
        <div class="error-text" style="text-align: center; margin-bottom: 10px;">{{ errorMessage }}</div>
      }

      <div style="display: flex; gap: 10px;">
        <button type="button" class="secondary-btn" (click)="requestChangePassword = false">Cancel</button>
        <button type="submit" class="primary-btn" [disabled]="passwordForm.invalid || request.newPassword !== newPasswordRepeat">Save</button>
      </div>

    </form>
  }
</div>