.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  padding-top: 5%;      
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5dc;
}

.page-wrapper h1 {
  font-size: 36px;
  font-weight: 700;
  color: #222831;
  margin-bottom: 20px;
}
