<div class="claims-list">
  @for (claim of claims; track claim.id) {
    <div class="claim-item">
      
      <div class="item-header">
        <span class="claim-id">Claim #{{ claim.id }}</span>
        <button class="review-btn" (click)="reviewClaim(claim.id)">Review Claim</button>
      </div>

      <div class="divider"></div>

      <div class="details-grid">
        <div class="detail-box">
          <span class="label">Policy ID</span>
          <span class="value">{{ claim.policyId }}</span>
        </div>

        <div class="detail-box">
          <span class="label">User</span>
          <span class="value">{{ claim.username }}</span>
        </div>

        <div class="detail-box">
          <span class="label">Hospital ID</span>
          <span class="value">{{ claim.hospitalId }}</span>
        </div>

        <div class="detail-box">
          <span class="label">Requested Amount</span>
          <span class="value highlight">₹{{ claim.requestedAmount }}</span>
        </div>

        <div class="detail-box">
          <span class="label">Request Date</span>
          <span class="value">{{ claim.claimRequestDate | date:'yyyy-MM-dd'}}</span>
        </div>
         @if(claim.providerReview===null){
          <span class="value">In-network claim</span>
         }
      </div>
     
    </div>
  }
</div>