<header>
    <h1>Smart health insurance</h1>
    
    @if(role == 'USER'){
        <div>User Dashboard</div>
    }
    @else if (role == 'INSURANCE_AGENT'){
        <div>Insurance Agent Dashboard</div>
    }
    @else if(role == 'ADMIN'){
        <div>Admin Dashboard</div>
    }
    @else if(role == 'PROVIDER'){
        <div>Provider Dashboard</div>
    }
    @else if(role == 'CLAIMS_OFFICER'){
        <div>Claims Officer Dashboard</div>
    }
    
    @if(role != null){
        <app-logout></app-logout>
    }
</header>