.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
  background-color: #222831; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}


.header-left {
  display: flex;
  align-items: center;
  
  gap: 16px;
}

.header h1 {
  margin: 0;
  color: var(--text-light);
  font-size: 40px;
}

.header-left div {
  color: var(--text-light);
  font-weight: 500;
}

button {
  background-color: var(--danger-btn);
  color: var(--text-light);
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--danger-btn-hover);
}


.profile-btn {
  background-color: #30475E;
  color: var(--text-light);
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.profile-btn:hover {
  background-color: #26394A;
}
