.review-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  min-height: 100vh;
}

.review-page-wrapper h1 {
  font-size: 36px;
  font-weight: 700;
  color: #222831;
  margin-bottom: 30px;
}