<div class="login-form">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text" [(ngModel)]="request.username" required />

    <label for="password">Password:</label>
    <input id="password" name="password" type="password" [(ngModel)]="request.password" required />

    <button type="submit" [disabled]="loading" [disabled]="loginForm.invalid">
      @if(loading){
        <p>Logging in...</p>
      }
      @else{
        <p>Login</p>
      }
    </button>
  </form>

  @if(error!=''){
    {{error}}
  }
  <button (click)="goToRegistration()">Create new user</button>
  <button (click)="goToForgotPassword()">Forgot Password</button>
</div>
