/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
  font-family: 'Google Sans', sans-serif;
}
