.verification-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  min-height: 100vh;
}

.verification-page h1 {
  font-size: 36px;
  font-weight: 700;
  color: #222831;
  margin-bottom: 30px;
}

.list-container {
  width: 70%; 
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 1000px) {
  .list-container {
    width: 90%;
  }
}